.choice-icon{
    font-size: 3em;
}

.choice-container{
    cursor: pointer;
    user-select: none;
}

.choice-container input{
    display: none;
}

.choice-container input:checked ~ .choice-icon{
    background-color: lightblue;
}